$uni-active-color: #2D7BFF;

.blue{
  color: $uni-active-color;
}
.pd20{
  padding-bottom: 20px !important;
}
.pd15{
  padding-bottom: 15px !important;
}
.mb20{
  margin-bottom: 20px !important;
}
a{
  text-decoration: none;
  cursor: pointer;
}
